<head>
  <meta charset="utf-8">
  <title>HI</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-height, initial-scale=5">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body style="background-color:red">
  <nav>
<div class="alert alert-success" role="alert">  #Hello World | <a href="/home">previous page</a></div>
</nav>
  <br>
  <br>

  <hr>
     <!-- { _id: 59a7ef605aedd93c0bf195fc, name: 'jad', counter: 1, __v: 0 } -->
  <p align="center">{{counting.name}} has been greeted {{counting.counter}} times</p>
</body>
