<head>
  <meta charset="utf-8">
  <title>HI</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-height, initial-scale=5">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body style="background-color:#f4511e">
  <nav>
    <div class="alert alert-success" role="alert"> #Hello World | <a href="/home">first page</a>|<a href="/greeted">second pages!</a></div>
  </nav>
  <br>
  <br>
  <h2 style="color:white" align="center">Counter</h2>
  <hr>
  <p style="color:white" align="center">{{counting.name}} has been greeted {{counting.counter}} times</p>
</body>
