<head>
  <meta charset="utf-8">
  <title>HI</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-height, initial-scale=5">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body style="background-color:#009933">
  <nav>
    <div class="alert alert-success" role="alert"> #Hello World | <a href="/home">home</a></div>
  </nav>
  <br>
  <br>
  <h4 style="color:white" margin-right:"45px" >List of Names </h4>
  <hr>

  <div class="myList">
    <ul>
      {{#each names}}
        <a href="/counter/{{this.name}}">
          <p style="color:white">{{this.name}}</p>
        </a>
      {{/each}}

    </ul>
  </div>
  <form action="/clear" method="post">
    <button type="submit" class="btn-danger" style="margin-left:40px">clear</button>
  </form>
</body>
