<head>

  <link rel="stylesheet" href="css/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-height, initial-scale=5">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title></title>
</head>

<body style="background-color:#999966">

  <nav>
    <div class="alert alert-success" role="alert"> #Hello World | <a href="/greeted/">next page</a></div>
  </nav>

  <br>

  <div class="textbox">
    <div class="head">
      <h1>Greet Application</h1>
    </div>
    <form action="/home" method="post">

      <br>
      <br>
      <br>
      <div class="button">Name:
        <input type="text" placeholder="Type name here" size="30" name="name" value="" required=""></input>
        <button type="submit" class="btn-danger">Greet</button>
      </div>
      <br>
      <br>
      <br>

      <div class="lang">
        <input type="radio" name="language" value="Xhosa" required="">IsiXhosa
        <input type="radio" name="language" value="English" required="">English
        <input type="radio" name="language" value="French" required="">French
      </div>
      <br>
      <br>
      <br>

    </form>
    <div class="msg">
    <p style="margin-left:150px">{{msg}}</p>
    </div>
    <br>
</body>
</div>
<div class="last"></div>
<br>
<br>
<div class="hello">
  <h1>#Hello World!</h1>
</div>
